body {
    background-color: rgb(4, 25, 30); /* pour mettre le fonds en noir */
    color: white; /* Cela rendra le texte blanc pour plus de contraste */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime le padding par défaut */

}

.logo {
    font-family: "Yeseva One", serif; /* Police pour le logo */
    font-weight: 400;
    font-style: normal;

}

.bordereau {
    border-bottom: 2px solid grey; /* Bordure pour délimiter le logo des réseaux sociaux */
}

.réseauxsociaux {
    position: absolute;
    top: 20px;
    right: 10px;
    
}

.réseauxsociaux span {
    margin: 0 10px;
}

main {
    padding-left: 10%;
    font-family: "Yeseva One", serif; /* Police pour le texte principal */
    font-weight: 400;
    font-style: normal;
}

main nav {
    display: flex; /* Flexbox pour les boutons */
    justify-content: center;  /* Centre les boutons de navigation */
    margin-bottom: 2em;
}

main nav button {
    background-color: var(--backgroundDark); /* Couleur sombre pour les boutons */
    color: var(--texte);
    border: none;   /* Pas de bordure */
    letter-spacing: 0.25em;
    font-weight: lighter;
    font-size: 0.5em;
    padding: 0.5em;  /* Espace autour du texte du bouton */
    margin-right: 0.5em; 
}

main nav button:last-child {
    margin-right: 0; 
}

main nav button:nth-child(2) {
    background-color: var(--primary);
}


.créative {
    color: rgb(40, 180, 160); /* Couleur "créative" */

}

.SousTexte {
    color: grey;

}

.photo {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Quatre colonnes  */
    gap: 5px; /* Espacement entre les images */
}

.photo img {
    width: 95%;
    height: auto;
    object-fit: cover; /* Pour garder le ratio d'aspect */
    margin: auto;
}


footer {
    color: gray;
}

.COPsolene {
    padding-bottom: 0%;
    padding-left: 49%;
}

.exercice {
    padding-bottom: 0%;
    padding-left: 50%;
}